<div class="col-md-12 col-xs-12 col-sm-12" style="padding-left: 0em; padding-right: 0em;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark acra-nav-bar" style="width: 100%;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="ui-card-title">
          GitHub Repo Browser
        </div>
      </ul>


      <div>
        <ul class="navbar-nav  navbar-right">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="onBack()" id="back" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{userName}}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="image">
              <img src="{{avatarUrl}}" alt="User Avatar" style="width:20px;height:20px;" tooltip="User Avatar">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="onLogout()" id="useraccount" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

</div>
