<footer class="bg-dark text-white mt-4 footer">
  <div class="container-fluid py-3 footer">

    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-2"></div>
      <div class="col-md-4 text-right small align-self-end">
        Created By Dinuka | <a href="https://gitlab.com/din1369/github-browser-frontend" target="_blank">Angular 6 Repository</a> |
        <a href="https://gitlab.com/din1369/gitlab-browser-backend" target="_blank">Spring Boot Repository</a>
      </div>
    </div>


  </div>
</footer>
