<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <br>
      <h2>My Repositories</h2>

      <div class="row" style="overflow: auto">
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
      </div>
    </div>
    <div *ngIf = "display">
      <app-atom-spinner
        [animationDuration]="1000"
        [size]="100"
        [color]="'#546dff'">
      </app-atom-spinner>
    </div>
    <div class="col-lg-6">
      <br>
      <h1>Search Users</h1>

      <div class="row" style="overflow: auto">
        <form class="form" id="search" (ngSubmit)='search(f)' #f="ngForm">
          <div class="form-group row">
            <div class="col-md-5">
              <label class="col-form-label" for="search">User Name* </label>
            </div>
            <div class="col-md-7">
              <input type="text" name="searchUserName" [(ngModel)]="searchName" #searchUserName="ngModel"
                     class="form-control"
                     placeholder="User Name" id="user-name" required>
            </div>

            <div class="form-actions">
              <div>
                <div class="col-md-12" align="right">
                  <button class="ui-button-success" id="search" data-title="search" type="submit" value="search"
                          [disabled]="!f.valid ">
                    Search
                  </button>

                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>
