/* You can add global styles to this file, and also import other style files */
/*
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0.
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

.red{
  border:1px solid #ff090c;
}

.error{
  color: #ff090c;
}

