<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <br>
      <h2>{{userName}}'s Repositories</h2>

      <div class="row" style="overflow: auto">
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
      </div>
    </div>
    <div *ngIf = "display">
      <app-atom-spinner
        [animationDuration]="1000"
        [size]="100"
        [color]="'#546dff'">
      </app-atom-spinner>
    </div>
    <div class="col-lg-6">
      <br>
      <img  src="{{avatarUrl}}" alt="User Avatar" style="width:200px;height:200px;" tooltip="User Avatar">

    </div>
  </div>


</div>
<app-footer></app-footer>
